/* Modal */

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
}

.dateChoice2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    width: 250px;
}

.vraiModal {
    width: 75%;
    position: fixed;
    height: 80vh;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1px;
}

.modalContainer {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1px;
}

.modelLeft {
    width: 62%;
    background-size: cover;
    background-repeat: no-repeat;
}

.modalContainer .imageSelected {
    /*  z-index: 1; */
    width: 100%;
    height: 100%;
}

.modalRight {}

.floatiin_div_modal {
    padding-left: 10px;
    height: 20%;
    margin-top: -11rem;
}

.floatiin_div_modal img {
    margin: 8px;
    height: 100px;
    width: 18%;
    border: 1px solid white;
}

.floatiin_div_modal img:hover {
    margin: 8px;
    height: 100px;
    border: 1px solid transparent;
}

.closeBtn {
    position: fixed;
    top: 8px;
    right: 8px;
}

.content {
    /*   display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: left;
    padding: 2rem;
}

.ConfirmationDate {
    display: flex;
    width: 250px;
    margin: 10px;
    justify-content: space-between;
}

.requestForm {
    padding: 20px;
    padding-top: 50px;
}

.dateTitre {
    font-size: 12px;
}

.champ {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    text-align: right;
    width: 93px;
    font-size: 14px;
}

input {
    margin: 10px;
    height: 30px;
    width: 250px;
}

.caracterisq_modal {
    grid-auto-flow: column;
    display: grid;
    grid-gap: 10px;
    font-size: 12px;
    list-style: none;
    width: inherit;
    padding-top: 20px;
}

.apa_modal {
    padding-top: 30px;
    font-size: 10px;
}

.marq_modal {
    font-weight: bold;
}

.dateZone .prix_modal {
    font-weight: bold;
}

.demande {
    margin: auto;
    background-color: red;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-top: 30px;
}

.btnContainer {
    display: flex;
    /*   flex-direction: row; */
    padding: 1rem 1rem;
}

.btnContainer button {
    position: absolute;
    bottom: 2rem;
    width: 15%;
    padding: 16px;
    /* border: none; */
    border: 1px solid #DD0B15;
    /* color: #ffffff; */
}

.btnPrimary {
    background-color: #DD0B15;
    color: white;
}

.btnOutline {
    /* background-color: #a76a99; */
    background-color: white;
    color: #411b57;
}

.bold {
    font-weight: 600;
}

@media screen and (max-width: 1023px) {
    .vraiModal {
        margin-top: -10vh;
        height: 60vh;
    }
    .modalRight {
        width: 30vw;
        font-size: 12px;
    }
    .modalContainer {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 90vh;
    }
    .caracterisq_modal {
        margin-left: -5px;
        grid-auto-flow: column;
        display: grid;
        grid-gap: 5px;
        font-size: 10px;
        list-style: none;
        width: inherit;
        padding-top: 20px;
    }
    .btnContainer button {
        position: absolute;
        bottom: 2rem;
        width: 18%;
        padding: 16px;
        /* border: none; */
        border: 1px solid #DD0B15;
        /* color: #ffffff; */
    }
    .btnPrimary {
        background-color: #DD0B15;
        color: white;
    }
    img {
        width: 100%;
        max-height: 70vh;
        object-fit: cover;
    }
    .heading {
        margin: 1rem;
    }
    .label {
        text-align: left;
        width: 50px;
        font-size: 9px;
    }
    input {
        margin: 5px;
        height: 30px;
        width: 130px;
    }
    .champ {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .vraiModal {
        width: 75%;
        position: fixed;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-areas: 'modelLeft modelLeft modelLeft' 'modalRight modalRight modalRight';
        background-color: #ffffff;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
        border-radius: 1px;
    }
    .modelLeft {
        height: 40vh;
        grid-area: modelLeft;
        width: 100%;
    }
    .modalRight {
        height: 60vh;
        width: 100%;
        grid-area: modalRight;
    }
    .btnContainer button {
        position: absolute;
        bottom: 2rem;
        width: 34%;
        padding: 16px;
        /* border: none; */
        border: 1px solid #DD0B15;
        /* color: #ffffff; */
    }
    .btnContainer {
        display: flex;
        /*   flex-direction: row; */
        padding: 1rem 33%;
    }
    .content {
        text-align: center;
        padding: 2rem;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 9;
    }
    input {
        margin: 5px;
        height: 29px;
        width: 180px;
    }
    .requestForm {
        padding: 20px;
        padding-top: 10px;
    }
    .floatiin_div_modal {
        padding-left: 10px;
        height: 20%;
        margin-top: -6rem;
    }
    .floatiin_div_modal img {
        margin: 8px;
        height: 70px;
        width: 18%;
        border: 1px solid white;
    }
    .floatiin_div_modal img:hover {
        margin: 8px;
        height: 70px;
        border: 1px solid transparent;
    }
    .closeBtn {
        font-weight: bold;
        top: 8px;
        background-color: white;
        padding: 2px;
        padding-inline: 4px;
        border-radius: 3px;
    }
    .price_zone {
        display: flex;
        justify-content: space-between;
    }
}